@{
    Layout = "_LayoutDeslogada";
}
@if (TempData["MessagemSucesso"] != null)
{
    <div class="alert alert-success text-dark" role="alert">
        @TempData["MessagemSucesso"]
    </div>
}
@if (TempData["MessagemErro"] != null)
{
    <div class="alert alert-danger text-dark" role="alert">
        @TempData["MessagemErro"]
    </div>
}

﻿@{
    ViewData["Title"] = "Home Page";
}
